.jobs-banner{
    background-image: url('/Lawyer-Temp-3-master/img/intro-img-1.jpg');
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
 height: 35vh;   
 color: white;

}

.jobs-banner-text{
    margin-top: 1%;
    text-align: right;
    font-size: 1.5rem;
}


@media (max-width: 768px) {

    .jobs-banner-text{
        margin-top: 5%;
        text-align: right;
        font-size: 1.1rem;
    }

}


.job-posts{
    text-align: right;
    font-size: large;
}

.job-post-details{
    margin-bottom: 3%;
    border-bottom: gray 0.5px solid;
}