.specialty-banner{
    background-image: url('https://cdn.pixabay.com/photo/2016/07/11/11/10/law-1509437_960_720.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
 height: 50vh;   
 color: white;
}

.specialty-banner-text{
    margin-top: 5%;
    text-align: right;
    font-size: 1.5rem;
}

@media (max-width: 768px) {
    .specialtybanner-text{
        margin-top: 5%;
        text-align: right;
        font-size: 1.1rem;
    }

}


.about-us-certification{
    text-align: right;
    margin: 5%;
}

.specialty-courts{
    background-color:#a9a9a9 ;
    margin-top: 1%;
    margin-bottom: 1%;
}

.specialty-courts .card {
    margin-top: 1%;
    margin-bottom: 1%;
    text-align: right;
    max-width: 100%;
}
.specialty-courts img{
    height: 100vh;

}

@media (max-width: 768px) {
    .specialty-courts .card {
  
        max-width: 100%;
    }

    .specialty-courts img{
        height: max-content;
    
    }

}